.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
/*
h4{
    border-left: 6px solid red;
}
*/  
/*Boot css*/
.bios, .uefi{
    display: flex;
        
    align-items: center;/*centrar en vertical*/
}
.imgBios, .imgUefi{
    width: 10em;
    margin: 2em;
}
/*conclusion boot*/
.grafica-boot{
    margin: 5%;
    width: auto;
    height: 500px;
}


/*Particion css*/
.particiones, th, td {
    width: 100%;
    border: 1px solid black;
    /*border-collapse: collapse;*/
}
th, td{
    width: 50%;
}

.padingUl{
    padding: 5%;
}
.imgMbr{
    width: auto;
    height: 300px;
    display: block;
}
.imgGpt{
    width: auto;
    height: 161px;
    display: block;
}/*
.bs1b{
    border: 1px solid black;
}*/